[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
.vs/
.idea
*.suo
*.user
_ReSharper.*
.cake/*
!.cake/packages.config
/packages
Assemblies/Temp
rdtsc64_*.dll
rdtsc64_*.pdb
rdtsc32_*.dll
rdtsc32_*.pdb
desktop.ini
/Assemblies/Cassandra/db
/Assemblies/Cassandra/log
/Assemblies/Cassandra/Server/.toDelete
!/Assemblies/ElasticSearch*/server
/Assemblies/ElasticSearch*/data
/Assemblies/ElasticSearch*/logs
/Assemblies/Selenium/chromedriver.log
Assemblies/Chrome/debug.log
Assemblies/Chrome/Dictionaries/*.bdic
!/Assemblies/Chrome/**/**
.downloads
.screenshots
.failedMessages
EDI/AS2FrontLogs
EDI/FrontLogs
EDI/API.FrontLogs/
WebWorms.FunctionalTests/FrontLogs/
RemoteTaskQueue/FrontLogs/
WebWorms.FunctionalTests/FrontLogs/
WebWorms/TestFrontLogs/
/GeneratedRefactoring.sln
/GeneratedRefactoring.sln.DotSettings
/Generated.EDI.RefactoringSolution.sln
/Generated.EDI.RefactoringSolution.sln.DotSettings
Tools/ServiceRunner/Logs
Tools.Compiled/ServiceRunner/Logs
StatisticsViewer/FrontLogs
StatisticsViewer/Front/Graphite/Scripts/*.js
StatisticsViewer/Front/Graphite/Scripts/*.js.map
StatisticsViewer/Front/SmartAdmin/Scripts/*.js
StatisticsViewer/Front/SmartAdmin/Scripts/*.js.map
StatisticsViewer/Front/Areas/MonitoringArea/Actions/ChangePort/*.js
StatisticsViewer/Front/Areas/MonitoringArea/Actions/ChangePort/*.js.map
node_modules
dist
*-assets*.json
EDI/Front/npm-debug.log
EDI/Front/npm-debug.log.*
.coverage
.artifacts
*.sublime-project
*.sublime-workspace
Build/MSBuild.TaskWrapper/LogsDirectory
EDI/FrontClientApps/coverage/
EDI/FrontClientApps/.tmp/
EDI/FrontClientApps/auth.sid
.babel-cache
!webpack-dll-assets.json
!webpack-vendor-assets.json
UpgradeLog.htm